.title {font-weight: bold;}
.yellow{background-color: lightyellow;}
.border{
  background-color: lightyellow;
  width: 600px;
  border: 15px solid lightblue;
  padding: 50px;
  margin: 20px;
}
.header {
  font-weight: bold;
  text-align: left;
  padding: 15px;
  background-color: lightyellow

}
/*h2{
  text-align: center;
  background-color:lightgreen
}*/

  body {background-color: #add8e6}

  .list{
    background-color: lightyellow;
    font-size: 20px;
    font-weight: bold;
  }
